In [10]:
#unzipping given zipfile
import zipfile

def unzip(zip_file):
    with zipfile.ZipFile(zip_file,'r') as zf:
        zf.extractall()

unzip("Python Assessment.zip")

In [3]:
#unzipping given sensor_data_2025

import zipfile
import pandas as pd

def unzip(zip_file,extract_to):
    with zipfile.ZipFile(zip_file,'r') as zf:
        zf.extractall(extract_to)
        return zf.namelist()

inner_zip = unzip("sensor_data_2025.zip","final_assessment")

['munich_data.zip', 'tokyo_data.zip', 'sydney_data.zip']

In [4]:
unzip('final_assessment/munich_data.zip','munich')
unzip('final_assessment/sydney_data.zip','sydney')
unzip('final_assessment/tokyo_data.zip','tokyo')

['station_info.json', 'readings.csv']

In [13]:
#separate panda dataframe and new column city
munich_json = pd.read_json('munich/station_info.json')
munich_csv = pd.read_csv('munich/readings.csv')

munich_json['city'] = "munich"
munich_csv['city'] = "munich"


sydney_json = pd.read_json('sydney/station_info.json')
sydney_csv = pd.read_csv('sydney/readings.csv')

sydney_json['city'] = "sydney"
sydney_csv['city'] = "sydney"

tokyo_json = pd.read_json('tokyo/station_info.json')
tokyo_csv = pd.read_csv('tokyo/readings.csv')

tokyo_json['city'] = "tokyo"
tokyo_csv['city'] = "tokyo"

all_readings_df = pd.concat([munich_csv , sydney_csv , tokyo_csv],ignore_index = True)
all_station_info_df = pd.concat([munich_json , sydney_json , tokyo_json], ignore_index = True)

all_station_info_df
all_readings_df

,station_id,timestamp,temperature_celsius,humidity_percent,pm2_5,city
0,1001,2025-02-04 23:00:00,14.17,77.11,22.80,munich
1,1001,2025-01-06 16:00:00,2.66,60.41,29.61,munich
2,1001,2025-01-01 13:00:00,0.31,53.84,42.90,munich
3,1001,2025-01-20 11:00:00,14.97,80.40,NaN,munich
4,1001,2025-02-12 06:00:00,14.22,78.14,62.48,munich
...,...,...,...,...,...,...
1495,1010,2025-01-19 17:00:00,10.60,34.62,45.38,tokyo
1496,1010,2025-01-17 22:00:00,8.13,43.52,28.63,tokyo
1497,1010,2025-03-13 07:00:00,19.56,NaN,56.10,tokyo
1498,1010,2025-03-28 00:00:00,5.79,61.62,18.84,tokyo
1499,1010,2025-02-21 07:00:00,9.06,52.05,59.33,tokyo

In [64]:
#clean and merge

merged_data = pd.merge(all_readings_df, all_station_info_df, on = "station_id")
merged_data

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [70]:
#linear search
def linear_search(arr,target):
    for idx in range(len(arr)):
        if arr[idx] == target:
            return idx
    return -1

arr = [20,50,30,40,70]
target = int(input("Enter the target: "))
result = linear_search(arr,target)
if result != -1:
    print(f"Found at index :{result}")
else:
    print("Not Found")

Enter the target:  90

In [72]:
#bubble sort
def bubble_sort(arr):
    swapped = False
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i -1):
            if arr[j] > arr[j+1]:
                arr[j] ,arr[j+1] = arr[j+1] , arr[j]
                swapped = True
        if not swapped:
            break
    return arr

arr = [4,6,8,3,5]
result = bubble_sort(arr)
print("Bubble Sort: ",result)

Bubble Sort:  [3, 4, 5, 6, 8]